#main {
  margin: 100px;
}
#main2 {
  font-size: xx-large;
  font-weight: bold;
  padding: 5px;
}
#main2 select {
  float: right;
  padding: 5px;
  border-radius: 5px;
}
.main {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filter-grp {
  display: flex;
  border-right: 1px solid blueviolet;
  flex-direction: column;
  justify-content: end;
  background: #fff;
  padding-right: 90px;
}
.label {
  background-color: white;
  padding-left: 15px;
}
select {
  padding-left: 10px;
  font-weight: bold;
}
.option {
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 15px;
}
.filter-grp input {
  padding: 5px;
  margin-left: 15px;
}
.Search1 {
  background-color: white;
  margin-top: 10px;
}
.Search2 {
  background-color: blueviolet;
  color: white;
  float: right;
  margin: 15px;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}
